.selected-calendar-bar-month,
.calendar-bar-month {
  list-style-type: none;
  flex: 0 0 5.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  border-radius: 0.2em;
  cursor: pointer;
  transition: border-bottom ease-out 0.2s, background-color ease-out 0.2s,
    padding-bottom ease-out 0.2s;
}

.selected-calendar-bar-month {
  padding-bottom: 1.1em;
  border-bottom: 0.4em solid red;
}

.selected-calendar-bar-month:hover,
.calendar-bar-month:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.calendar-bar-month:active,
.selected-calendar-bar-month:active {
  background-color: rgba(0, 0, 0, 0.3);
}
