.toggle-button-container-active,
.toggle-button-container-inactive {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.toggle-button-container-active {
  padding-top: 1.3em;
  padding-bottom: 0em;
}

.toggle-button-container-inactive {
  padding-bottom: 1.3em;
  padding-top: 0.3em;
}

#toggle-button {
  border-right: 0.1em solid black;
  border-bottom: 0.1em solid black;
  padding: 0.3em;
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
  transition: 0.15s ease-in-out border-width, 0.15s ease-in-out padding;
}

.toggle-button-container-inactive:hover #toggle-button {
  border-right-width: 0.25em;
  border-bottom-width: 0.25em;
  padding-top: 0.15em;
  padding-left: 0.15em;
}

.toggle-button-container-active #toggle-button {
  border: none;
  border-left: 0.1em solid black;
  border-top: 0.1em solid black;
}

.toggle-button-container-active:hover #toggle-button {
  border-left-width: 0.25em;
  border-top-width: 0.25em;
  padding-right: 0.15em;
  padding-bottom: 0.15em;
}

.calendar-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#calendar-bar-container {
  transition: 0.15s ease-in-out;
  overflow: hidden;
}

.calendar-bar-container-active {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
  max-height: 20em;
}

.calendar-bar-container-inactive {
  max-height: 0;
}

.calendar-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-width: 22em;
  padding: 0;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
