.input-form {
  margin-top: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.submit-button {
  margin: 1.5em 1em 1em 1em;
  min-width: 10em;
  min-height: 3.5em;
  border-radius: 0.4em;
  font-size: medium;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  background-color: rgba(204, 204, 255, 0.7);
  border-color: rgb(204, 153, 255);
  transition: border-color ease-in-out 0.05s, background-color ease-in-out 0.05s,
    box-shadow ease-in-out 0.15s;
}

.inputs,
.labels {
  min-width: 20em;
}

.inputs {
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 0.4em;
  border: 1px solid black;
  transition: border ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  outline: none;
}

.labels {
  font-size: medium;
  margin-top: 1em;
  display: flex;
  flex-flow: column;
}

.inputs:focus,
.submit-button:focus {
  border: 1px solid rgb(64, 173, 224);
  box-shadow: 0px 0px 15px 0px rgba(64, 173, 224, 0.9);
}

.submit-button:hover {
  background-color: rgba(204, 153, 255, 0.7);
  border-color: rgb(204, 102, 255);
}

.submit-button:active {
  background-color: rgba(204, 102, 255, 0.7);
  border-color: rgb(204, 51, 255);
}
